.falling-leaves {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: translate(-100%, 0);
}

.leaf-scene {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-style: preserve-3d;

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url('Untitled-1.png')
      no-repeat;
    background-size: 100%;
    transform-style: preserve-3d;
    backface-visibility: visible;
  }
}
